# Roboflow
ROBOFLOW_API_KEY=your_roboflow_api_key_here
ROBOFLOW_WORKSPACE=workspace_name
ROBOFLOW_PROJECT=project_name
ROBOFLOW_VERSION=version_number
ROBOFLOW_EXPORT_FORMAT=format

# AWS
AWS_BUCKET_NAME=your-s3-bucket-name
AWS_REGION=us-east-2
SNS_TOPIC_ARN=

#AI
MODEL_PATH=yolov8n.pt
EPOCHS=100
# CHECKPOINT_WEIGHTS=/path/to/weights.pt   # uncomment to resume from a checkpoint
